body,html,h2,h1,h1,h3,h4,p{
    margin:0em;
    padding: 0em;
    width:100%;
    height:100%;
}
.html{
    scroll-behavior: smooth;
    
}
.home{
    background-color: rgb(255, 0, 0);
    width:100%;
    height: 100%;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 3rem;
}
.logo{
    display: flex;
    flex-direction: row;
  
}
.header nav a{
    text-decoration: none;
    background-color: aqua;
    text-align: center;
   
    margin-right: 2rem;

}
.navbar .last{
    margin-right: 0px;
}
.Mobile{
    display: none;
}

.page2{
    height:80vh;
    width:100%;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    padding: 0%;
    justify-content:space-around;
}
.cont{
    width:50vw;
    height: 70vh;
    background-color: blue;
    display: grid;
   padding: 0em;
    margin: 4.8rem 0rem 0rem 5rem;
}
.img2{
    width:60vh;
    height: 70vh;
    background-color: grey;
    margin:4.8rem 2rem 0rem 0rem;
}
.page3{
    height:60vh;
    width:100%;
    background-color: black;
}
.service{
    display: flex;
    flex-direction: row;
    background-color:aqua;
    width:95%;
    height:100%;
    margin: 0rem 0rem  1rem 2rem;

}
.service .beauty{
    width:33.33%;
    height: 100%;
    background-color: red;
}
.bride{
    width:33.33%;
    height: 100%;
    background-color:rgb(46, 44, 44);
}
.eye{
    width:33.33%;
    height: 100%;
    background-color:blue;
}
.page4{
    height: 90%;
    width:100%;
    background-color:grey;
    display: flex;
    flex-direction: row;

}
.pg4cont{
    height: 80%;
    width:55%;
    background-color: blueviolet;
    margin: 5rem 2rem 0rem 5rem;
}
.pg4img{
    height: 80%;
    width: 35%;
    background-color: darkcyan;
    margin: 5rem 3rem 0rem 3rem;
}
.page5{
    height: 90%;
    width:100%;
    background-color:rgb(144, 59, 59);
    display: flex;
    flex-direction: row;

}
.pg5cont{
    height: 80%;
    width:55%;
    background-color: blueviolet;
    margin: 5rem 2rem 0rem 5rem;
}
.pg5img{
    height: 80%;
    width: 35%;
    background-color: darkcyan;
    margin: 5rem 3rem 0rem 3rem;
}
.last{
    height:100%;
    width:100%;
    background-color: darkseagreen;

}
.top{
    display: flex;
    flex-direction: row; 
    width:85%;
    height: 40%;
    justify-content: space-between;

}
.loc{
    background-color: aquamarine;
    margin-top: 4rem;
    margin-left:10rem;
    height: 35%;
    width:15%
    
    
}
.contact{
    background-color: aquamarine;
    margin-top: 4rem;
    margin-left:2rem;
    height: 35%;
    width:15%
}
.social{
    background-color: aquamarine;
    margin-top: 4rem;
    margin-left:2rem;
    height: 35%;
    width:15%
}

.from{
    height: 50%;
    width:40%;
    background-color: red;
    margin-left: 10rem;
    margin-top: -3rem;
}
.credit{
height:10%;
width:20%;
background-color: aqua;
margin-left: 10rem;
margin-top: 2rem;
}